<app-toolbar></app-toolbar>

<ion-content class="ion-padding-horizontal" fullscreen>
    <h1>All Items</h1>

    <ion-list *ngIf="items.length; else missing">
        <ion-item *ngFor="let item of items">
            <ion-checkbox slot="start" [(ngModel)]="item.bought"></ion-checkbox>

            <ion-label>
                <h2>{{item.name}} <span style="color:aqua">({{item.amount | number}})</span></h2>
                <p>{{item.price | currency}}</p>
            </ion-label>


            <ion-buttons slot="end">
                <ion-button shape="circle" (click)="viewOptions(item)">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>

    <ng-template #missing>
        <div class="message__container">
            <h4>No items found</h4>
        </div>
    </ng-template>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button routerLink="/item-list/new">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>